<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Checkout.com homework">
    <meta name="author" content="Hank LI">
    <link rel="icon" href="images/favicon.ico" >

    <title>Checkout</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/favicon.ico" alt="" width="72" height="72">
        <h2>Checkout form</h2>
        <p class="lead">Please enter your payment information below</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart (ORD240522ABCD)</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Minecraft iPhone 14 Case</h6>
              </div>
              <span class="text-muted" id = "price1">$68</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Elsa iPhone 15 pro Case</h6>
              </div>
              <span class="text-muted" id = "price2">$48</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Milky Cat iPhone 14 Case</h6>
              </div>
              <span class="text-muted" id = "price3">$38</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span id = "price4">Total (HKD)</span>
              <strong id = "price5">$154</strong>
            </li>
          </ul> 
        </div>

        <div class="col-md-8 order-md-1">    
          
          
          <form class="needs-validation" name="paymentform"  id = "paymentform" action = "/checkout" method="POST" >
            <h4 class="mb-3">Payment</h4>
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" name="country" onchange="setccy()" required>
                  <option value="HK">Hong Kong</option>
                  <option value="NL">Netherlands</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
            </div>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="card" name="paymentMethod" value="card" type="radio" class="custom-control-input" checked onclick="setideal()" required>
                <label class="custom-control-label" for="card">Card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="googlepay" name="paymentMethod" value = "googlepay" type="radio" class="custom-control-input" onclick="setideal()" required>
                <label class="custom-control-label" for="googlepay">Google Pay</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="ideal" name="paymentMethod" value = "ideal" type="radio" class="custom-control-input" onclick="setideal()" required>
                <label class="custom-control-label" for="ideal">iDEAL (for Netherlands)</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" name="cardName" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Card number</label>
                <input type="text" class="form-control" id="cc-number" name="cardNumber" placeholder="" required>
                <div class="invalid-feedback">
                  Card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration Date</label>
                <input type="text" class="form-control" id="cc-expiration" name="cardExpDt" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" name="cardCVV" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
              <div class="col-md-3 mb-3" >
                <label></label>
                <div id="container"></div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-slim.min.js"><\/script>')</script>
    <script src="javascripts/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="javascripts/holder.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      async
      src="https://pay.google.com/gp/p/js/pay.js"
      onload="onGooglePayLoaded()">
    </script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      function setccy() {
        let x = document.forms["paymentform"]["country"].value;
        let y = document.forms["paymentform"]["paymentMethod"].value;
        if(x == 'HK' && y == 'ideal'){
          alert('iDEAL is for Netherlands only!');
          document.forms["paymentform"]["country"].value = 'NL';
        }else if(x == 'HK' ){
          document.getElementById('price1').innerText = '$68';
          document.getElementById('price2').innerText = '$48';
          document.getElementById('price3').innerText = '$38';
          document.getElementById('price4').innerText = 'Total (HKD)';
          document.getElementById('price5').innerText = '$154';
        }else if(x == 'NL'){
          document.getElementById('price1').innerText = '€8';
          document.getElementById('price2').innerText = '€5.5';
          document.getElementById('price3').innerText = '€4.5';
          document.getElementById('price4').innerText = 'Total (EUR)';
          document.getElementById('price5').innerText = '€18';
        }
      }
      function setideal() {
        let x = document.forms["paymentform"]["paymentMethod"].value;
        if(x == 'ideal'){
          document.forms["paymentform"]["country"].value = 'NL';
          document.getElementById('price1').innerText = '€8';
          document.getElementById('price2').innerText = '€5.5';
          document.getElementById('price3').innerText = '€4.5';
          document.getElementById('price4').innerText = 'Total (EUR)';
          document.getElementById('price5').innerText = '€18';
          document.forms["paymentform"]["cardName"].required = false;
          document.forms["paymentform"]["cardNumber"].required = false;
          document.forms["paymentform"]["cardExpDt"].required = false;
          document.forms["paymentform"]["cardCVV"].required = false;
        }else if(x == 'card'){
          document.forms["paymentform"]["cardName"].required = true;
          document.forms["paymentform"]["cardNumber"].required = true;
          document.forms["paymentform"]["cardExpDt"].required = true;
          document.forms["paymentform"]["cardCVV"].required = true;
        }
      }
      function onGooglePayLoaded(){
        const baseRequest = {
          apiVersion: 2,
          apiVersionMinor: 0
        };
        const tokenizationSpecification = {
          type: 'PAYMENT_GATEWAY',
          parameters: {
            'gateway': 'checkoutltd',
            'gatewayMerchantId': 'pk_sbox_kms5vhdb66lgxsgzlgv4dgy3ziy'
          }
        };
        const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"];
        const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];
        const baseCardPaymentMethod = {
          "type": "CARD",
            "parameters": {
              "allowedAuthMethods": allowedCardAuthMethods,
              "allowedCardNetworks": allowedCardNetworks
            }
        };
        const cardPaymentMethod = Object.assign(
          {tokenizationSpecification: tokenizationSpecification},
          baseCardPaymentMethod
        );

        const paymentsClient = new google.payments.api.PaymentsClient({environment:'TEST'});
        const isReadyToPayRequest = Object.assign({}, baseRequest);
        isReadyToPayRequest.allowedPaymentMethods = [baseCardPaymentMethod];
        paymentsClient.isReadyToPay(isReadyToPayRequest)
          .then(function(response) {
            if (response.result) {
              const button = paymentsClient.createButton({onClick: () => {
                const paymentDataRequest = Object.assign({}, baseRequest);
                paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
                let x = document.forms["paymentform"]["country"].value;
                paymentDataRequest.transactionInfo = {
                  totalPriceStatus: 'FINAL',
                  totalPrice: x=='HK'?'154.00':'18.00',
                  currencyCode: x=='HK'?'HKD':'EUR',
                  countryCode: x=='HK'?'HK':'NL'
                };
                paymentDataRequest.merchantInfo = {
                  merchantName: 'East West Bank',
                  merchantId: 'checkoutltd123'
                };
                paymentsClient.loadPaymentData(paymentDataRequest).then(function(paymentData){
                  // if using gateway tokenization, pass this token without modification
                  paymentToken = paymentData.paymentMethodData.tokenizationData.token;
                  $.ajax({
                    type: 'post',
                    url: '/checkout',
                    data: {
                      'paymentMethod':'googlepay',
                      'paymentToken': paymentToken,
                      'country':x
                    },
                    success: function (data) {
                      alert('Payment Submitted with status ' + data.status + '!');
                    },
                    error: function (data) {
                      alert(JSON.stringify(data.responseJSON.error_type + ' :' + data.responseJSON.error_codes));
                    },
                  });
                }).catch(function(err){
                  // show error in developer console for debugging
                  console.error(err);
                });
              }, allowedPaymentMethods: [baseCardPaymentMethod]}); // make sure to provide an allowed payment method
              document.getElementById('container').appendChild(button);
            }
          })
          .catch(function(err) {
            // show error in developer console for debugging
            console.error(err);
          });
      }
      
    </script>
    <script type="text/javascript">
      var frm = $('#paymentform');
      frm.submit(function (e) {
        e.preventDefault();
        let x = document.forms["paymentform"]["cardExpDt"].value;
        let y = document.forms["paymentform"]["paymentMethod"].value;
        const re = /^(0[1-9]|1[0-2])\/?([0-9]{2})$/;
        if (y == 'card' && !re.test(x)){
          alert("Expiration Date must be in MM/YY or MMYY format!");
          return false;
        }
          $.ajax({
              type: frm.attr('method'),
              url: frm.attr('action'),
              data: frm.serialize(),
              success: function (data) {
                  alert('Payment Submitted with status ' + data.status + '!');
              },
              error: function (data) {
                  alert(JSON.stringify(data.responseJSON.error_type + ' :' + data.responseJSON.error_codes));
              },
          });
      });
    </script>
  </body>
</html>
