<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Checkout.com homework">
    <meta name="author" content="Hank LI">
    <link rel="icon" href="../images/favicon.ico" >

    <title>Checkout</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/form-validation.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../images/favicon.ico" alt="" width="72" height="72">
        <h2>Checkout form</h2>
        <p class="lead">Please view your payment result below</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart (ORD240522ABCD)</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Minecraft iPhone 14 Case</h6>
              </div>
              <span class="text-muted" id = "price1">$68</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Elsa iPhone 15 pro Case</h6>
              </div>
              <span class="text-muted" id = "price2">$48</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Milky Cat iPhone 14 Case</h6>
              </div>
              <span class="text-muted" id = "price3">$38</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span id = "price4">Total (HKD)</span>
              <strong id = "price5">$154</strong>
            </li>
          </ul> 
        </div>

        <div class="col-md-8 order-md-1">    
            <div class="row">
                  <h2>Your Payment is declined!</h2>
            </div>
        </div>
      </div>
    </body>
</html>